.navigation {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav_bar_items {
  border: 1px solid lightgray;
  padding: 5px 30px 5px 30px;
}

.nav_bar_links {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Aboreto", "Verdana", "serif";
}

.nav_bar_items:hover {
  border: transparent !important;
  background-color: lightgray;
}

.nav_bar_links:visited {
  color: rgb(77, 77, 77);
}

.welcome {
  margin-top: 1px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

p.greeting {
  margin-top: 15px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline 2px rgb(77, 77, 77);
}

h1.name {
  margin-top: 42px;
  margin-bottom: 5px;
  font-family: "Aboreto", "Verdana", "serif";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
  color: rgb(77, 77, 77);
}

.cartoon_image {
  width: 400px;
  height: auto;
  border: 3px solid rgb(77, 77, 77);
  border-radius: 15px;
  float: right;
}

h2 {
  font-family: "Aboreto", "Verdana", "serif";
  text-transform: uppercase;
  font-weight: 900;
  font-size: 23px;
  line-height: 10px;
  margin-top: 20px;
}

.sections {
  width: 58%;
  height: auto;
}

.section_details {
  padding-bottom: 10px;
}

.text_section {
  width: 65%;
  padding-left: 9%;
  padding-top: 1%;
}
