.navigation {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav_bar_items {
  border: 1.5px solid lightgray;
  padding: 5px 30px 5px 30px;
}

.nav_bar_links {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Aboreto", "Verdana", "serif";
}

.nav_bar_items:hover {
  border: transparent !important;
  background-color: lightgray;
}

.nav_bar_links:visited {
  color: rgb(77, 77, 77);
}

.welcome {
  margin-top: 1px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

p.greeting {
  margin-top: 15px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline 2px rgb(77, 77, 77);
}

h1.name {
  margin-top: 42px;
  margin-bottom: 5px;
  font-family: "Aboreto", "Verdana", "serif";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
  color: rgb(77, 77, 77);
}

.cartoon_image {
  width: 400px;
  height: auto;
  border: 3px solid rgb(77, 77, 77);
  border-radius: 15px;
  float: right;
}

h2,
h3 {
  font-family: "Aboreto", "Verdana", "serif";
  text-transform: uppercase;
  font-weight: 900;
  font-size: 23px;
  line-height: 10px;
  margin-top: 20px;
}

.sections {
  width: 70%;
  height: auto;
  border: 1.5px solid rgb(165, 165, 165);
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 10px;
}

.section_details {
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 1px;
}

.text_section {
  width: 65%;
  padding-left: 9%;
  padding-top: 1%;
}

.about_sections {
  padding: 5px 10px 5px 10px;
  margin-bottom: 0px;
}

.horizontal_sections {
  display: flex;
  margin-bottom: 0px;
  margin-top: 0px;
}

.bio_section {
  margin-bottom: 10px;
  width: 50%;
  border: 1.5px solid rgb(165, 165, 165);
  margin-right: 15px;
}

.bio_text {
  margin-top: 15px;
  margin-left: 15px;
}

.skills_section {
  margin-bottom: 10px;
  width: 50%;
  border: 1.5px solid rgb(165, 165, 165);
}

.links_section {
  border: 1.5px solid rgb(165, 165, 165);
}

.section_title {
  text-align: center;
  margin-bottom: 5px;
}

.skills_details {
  margin-top: 15px;
  display: flex;
  margin-left: 10px;
  column-count: 2;
}

h4 {
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  text-decoration: underline;
}

.proficient {
  text-align: center;
  border: 0.5px solid black;
  margin-right: 10px;
  width: 50%;
}

.working {
  text-align: center;
  border: 0.5px solid black;
  margin-left: 10px;
  margin-right: 10px;
  width: 50%;
}

.list {
  margin-top: 10px;
}

.other_list {
  margin-top: 5px;
  text-align: center;
}

.other_skills {
  margin-top: 20px;
  text-align: center;
  border: 0.5px solid black;
  width: 600px;
  margin-left: 10px;
  margin-right: 10px;
}

.links_list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.link_items {
  padding: 5px 5px 0px 5px;
  text-align: center;
}

.link_items:hover {
  border: transparent !important;
  background-color: lightgray;
}

.form_legend {
  border: 1.5px solid rgb(165, 165, 165);
  padding: 5px;
  font-family: "Aboreto", "Verdana", "serif";
  font-weight: bold;
  font-size: 17px;
}

.form {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.form_details {
  padding: 3px;
  margin-bottom: 5px;
}

.name_full {
  padding: 3px;
  margin-right: 28px;
  font-weight: bold;
}

.address_email {
  padding: 3px;
  font-weight: bold;
}

.dropdown {
  padding: 3px;
  font-weight: bold;
}

.form_details select {
  border: 1.5px solid rgb(165, 165, 165);
  padding: 2px;
  border-radius: 5px;
}

.check {
  padding: 3px;
  font-weight: bold;
}

.comment_area {
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment_section {
  margin-bottom: 5px;
  font-weight: bold;
}

textarea {
  width: 300px;
  height: 90px;
}

.selection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selection_text {
  font-weight: bold;
}

.submission {
  border: 1.5px solid rgb(165, 165, 165);
  padding: 5px;
  background-color: rgb(237, 237, 237);
  border-radius: 5px;
  font-family: "Aboreto", "Verdana", "serif";
  font-weight: bold;
  margin-top: 35px;
}

.submission:hover {
  border: transparent !important;
  background-color: lightgray;
  cursor: pointer;
}
